{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Fake News Detection (only works for english news)</h1>

  <form action="{% url 'result' %}" autocomplete="off">
    {% csrf_token %}

    {{ form.newspaper|as_crispy_field }}
    {{ form.category|as_crispy_field }}
    {{ form.news_text|as_crispy_field }}

    <button type="submit" method="post">
      Submit
    </button>
  </form>
</body>
</html>