{% extends 'fake_news_detection/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block form %}
{% endblock form %}

{% block content %}

  <center>
    <h2>Thank you!</h2>
  
  {% if "user_choice" in args_sent_by_user %}
    <p>We'll store and process your results for better predictions.</p>

  {% else %}
    <p>We won't save any data of yours.</p>
  {% endif %}

  <a class="waves-effect waves-light btn-large" href="{% url 'home' %}"><i class="material-icons left">science</i>Try again</a>

  </center>

  <br>
  
{% endblock content %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Fake News Detection</h1>

  {% if "user_choice" in args_sent_by_user %}
    <p>Thank you. We'll store and process your results for better predictions.</p>

  {% else %}
    <p>Thank you. Come back soon.</p>
  {% endif %}
</body>
</html> {% endcomment %}